<div class="container-fluid">
    
 <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">

    <div class="col-xl-3 col-lg-3 col-md-10 col-sm-12 center">
    <div class="card">
        <div class="row p-3">
             <div class="card-body">
                <div class="form-header purple-gradient text-center">
                    <h3><i class="bi bi-person-fill-check"></i>Ingreso</h3>
                </div>
                <form [formGroup]="loginForm" (submit)="onSubmit()">
                    <div class="form-group">
                    <label for="username"><strong>Nombre de usuario</strong></label>
                        <input class="form-control" placeholder="Ingresar usuario" id="username" type="text" formControlName="username" (blur)="checkInput()" />
                    </div>
                    <div class="form-group">    
                    <label for="password"><strong>Contraseña</strong></label>
                        <input class="form-control" placeholder="Ingresar contraseña" id="password" type="password" formControlName="password" (blur)="checkInput()"/>
                    </div>
                    <div class="text-center m-3">
                    <button type="submit" class="btn purple-gradient btn-lg waves-effect waves-light" [disabled]="buttonDisable">Entrar</button>
                    </div>
                </form>
            </div>
          
        </div>
     </div>
   </div>
  </div>
</div>
<div class="login-mask">
</div>

