<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 2000;"
  *ngIf="visible()"
>
  <div
    class="toast show align-items-center border-0 text-white"
    [ngClass]="{
      'bg-success': type() === 'success',
      'bg-danger': type() === 'error'
    }"
    role="alert"
  >
    <div class="d-flex">
      <div class="toast-body">
        {{ message }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="visible.set(false)"></button>
    </div>
  </div>
</div>
