.change-pass h2 {
  text-align: center;
}
.change-pass button,
.change-pass .row {
  margin-top: 1rem;
}
.change-pass label {
  text-align: right;
}
.change-pass .error-form {
  color: rgb(163, 52, 24);
  font-size: small;
}
