
<div class="container">
  <h3 class="text-center"><strong>BackOffice</strong></h3>
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item p-1" *ngFor="let menu of menuSideBar">
    <a *ngIf="menu.type === 'sub'"class="nav-link border border-primary"  routerLinkActive="active" [routerLink]="[menu.path]">{{menu.title | titlecase}}</a>
  </li>
</ul>
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item m-1" *ngFor="let menu of menuSideBar">
    <a *ngIf="menu.type === 'link'"class="nav-link"  routerLinkActive="active" [routerLink]="[menu.path]">{{menu.title | titlecase}}</a>
  </li>
</ul>
</div>